# Web App Cores
Flask
Werkzeug
Jinja2

# Deep Learning & YOLOv8
ultralytics
torch
torchvision
--extra-index-url https://download.pytorch.org/whl/cpu

# Image Processing
opencv-python
Pillow
numpy

# Utilities
tqdm
requests
matplotlib

# Raspberry Pi Specific
gunicorn

# Installation Guide:
#    python -m venv venv

#    - On Windows: venv\Scripts\activate
#    - On macOS/Linux: source venv/bin/activate

#    pip install -r requirements.txt

#    python app.py

# For production deployment, consider using Gunicorn:

#    gunicorn -w 4 -b
